mat-dialog-content > * {
    display: block;
}
mat-form-field {
    width: 100%;
}
mat-slider {
    margin-top: 12px;
}
mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}
.save {
    margin-left: 20px;
}